<%- include('partials/header.ejs', {
  title: 'TI - Przypisz pliki',
  styles: []
}) %>

<h1 class="title is-1">Przypisywanie plików (<%= typeName%>) - <%=name%></h1>    
<div class="images" data-type="<%=type%>" data-name="<%=name%>">
  <% files.forEach(function (file) { %>
  <div class="card attach-image">
    <div class="card-image" style="background-image: url(/images/<%=file.filename%>)">
    </div>
    <div class="card-content">
      <div class="truncate">
      <p class="control">
        <label class="checkbox truncate">
          <% if (file.attached) {%>
            <input type="checkbox" data-id="<%=file.id %>" checked>
          <% } else { %>
            <input type="checkbox" data-id="<%=file.id %>">
          <% }%>
          <%=file.originalName%>
        </label>
      </p></div>
    </div>
  </div>
  <% }) %>
</div>
<div class="has-text-centered" style="margin-top: 30px;">
    <button class="button is-success is-large func-attach-images">Aktualizuj</button>
</div>

<%- include('partials/footer', {
  scripts: ['/public/js/attach-files.js']
}) %>